@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;    
}

body {
    background-color: var(--black);
    color: var(--text);
    font-family: 'Source Sans Pro', sans-serif;
}

/* root colors */
:root {
--black: #000000;
--text: #D9D9D9;
--blue: #1D9BF0;
--hover: #161616;
--grey: #6E767D;
--border-color: #2F3336;
--trends-color: #202327;

}

a {
    text-decoration: none;
    color: var(--text);
}

main{
    display: flex;
    padding: 0 5%;
}

.logo {
    padding: 3%;
}

.menu {
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    height: 96vh;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.menu a {
    font-size: 1.19rem;
    font-weight: 600;
}

.nav-2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    width: fit-content;
    padding: 3% 15% 3% 5%;
    border-radius: 2rem;
}

.nav-2:nth-child(1) a {
    font-weight: 900;
}

.nav-2:hover {
    background-color: var(--hover);
}

.tweet-btn {
    background-color: var(--blue);
    color: var(--text);
    margin: 3%;
    padding: 6%;
    width: 90%;
    font-size: 1.06rem;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
}

.profile {
    /* width: 95%; */
    /* justify-self: flex-end; */

    display: flex;
    gap: 3%;

    padding: 3%;
    border-radius: 2rem;

    cursor: pointer;
}

.profile:hover {
    background-color: var(--hover);
}

.cont {
    font-weight: 700;
    justify-self: flex-end;
    align-self: center;
}

.profile img {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}

.name {
    font-size: 0.9rem;
    font-weight: 700;
}

.username {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--grey);
}

/* .menu a:nth-child(1) {
    font-weight: 800;
} */



.feeds {
    width: 50%;
    /* background-color: aquamarine; */
    /* border: 0 2px 0 2px solid var(--border-color); */
    border-left: 0.06rem solid var(--border-color);
    border-right: 0.06em solid var(--border-color);
}

.trending {
    width: 30%;
    padding: 1%;
}

.t-for-you {
    background-color: var(--trends-color);
    border-radius: 1rem;
    margin: 1rem 0;
    /* padding: 3%; */
}

.t-for-you img {
    cursor: pointer;
}

.t-for-you .head {
    display: flex;
    justify-content: space-between;
    padding: 3% 2rem 3% 3%;
}

.t-for-you h1 {
    font-size: 1.19rem;
    font-weight: 600;
}

.t-for-you .trend-comp {
    padding: 3%;
    margin: 1% 0;
}

.trend-comp {
    cursor: pointer;
}

.trend-comp:hover {
    background-color: var(--border-color);
}

.trend-loc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 0.81rem;
    color: var(--grey);
}

.trend-loc p:nth-child(2) {
    font-weight: 900;
    font-size: 1rem;
}

/* .trend-loc p:nth-child(2):hover {
    background-color: var(--trends-color);
    border-radius: 25px;
} */

.trend-loc-2 {
    align-items: center;
    font-weight: 400;
    font-size: 0.81rem;
    color: var(--grey);
}

.trend-comp h2 {
    font-size: calc(1rem - 0.06rem);
    margin: 0.13rem 0;
}

.t-for-you .footer {
    padding: 3%;
    color: var(--blue);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;
}

.t-for-you .footer:hover {
    background-color: var(--border-color);
}

.w-profile {
    
    padding: 3%;
    display: flex;
    /* width: 1000px; */
    justify-content: flex-start;
    gap: 3%;
    cursor: pointer;
    align-items: center;
}

.w-profile:hover {
    background-color: var(--border-color);
}

.w-profile>img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
}

.w-profile .w-btn {
    /* align-self: center; */
    justify-self: flex-end;
}

.follow-btn {
    font-size: 0.87rem;
    font-weight: 400;
    color: var(--hover);
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.w-name {
    display: flex;
    align-items: center;
    gap: 0.19rem;
    font-size: 0.94;
    font-weight: 400;

}

.w-name:hover {
    text-decoration: underline;
}

.w-username {
    font-size: 0.94rem;
    font-weight: 300;
    color: var(--grey);
}